@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./node_modules/bootstrap/dist/css/bootstrap.min.css";



@font-face {
  font-family: "IranSansMedium";
  src: url("./font/IRANSansMobile_Medium.ttf");
}


.bg-main-blue {
  background-color: #c5e1e4 !important;
}
.bg-light-blue {
  background-color: #7ac9d3 !important;
}
.bg-light-skyblue {
  background-color: #0091a1 !important;
}
.bg-navy-blue {
  background-color: #011464 !important;
}
.bg-orange {
  background-color: #dd9e46 !important;
}
.bg-dark-orange {
  background-color: #b77518 !important;
}
.bg-dark-green {
  background-color: #004249 !important;
}
.bg-navy-green {
  background-color: #003339 !important;
}


body {
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
  text-align: center !important;
  color: lightgray !important;
  scroll-behavior: smooth;
  font-family: "IranSansMedium", sans-serif;
  font: 13px Tahoma,Arial;
  font-weight: 400;
  color: #000;
  direction: rtl;
}

img {
  cursor: pointer;
}


.main-container{
  min-width:576px ;
}

.article{

}
.nashr-first {
  position: absolute;
  top: -50px;
  right: 0;
  width: 200px;
  height: 50px;
  border-radius: 0 10px 0 0;
  z-index: 9;
}

.nashr-second {
  position: absolute;
  top: -50px;
  right: 194px;
  width: 100px;
  height: 50px;
}

.container-head{
  position: relative;
  height: 143px;
  margin-top: 20px;
  margin-bottom: 30px;
  transform: scaleX(92%);
  left: 7px;
}

.header-front{
  background-color: #16DBF1;
  margin: 12px -5px 0 0;
  width: calc(100% - 144px);
  height:90px;
  border-radius: 0px 90px 90px 0px;
  position: absolute;
  z-index: 4;
}

.header-back{
  background-color: #0d2698;
  margin: 0px 50px 20px 90px;
  width: calc(100% - 175px);
  height: 80px;
  border-radius: 0px 90px 90px 0px;
  position: absolute;
}

.header-img{
  position: relative;
  float: left;
  z-index: 3;
  left: -5px;
}

.svg-member-icon{
  fill: #bf7b1d;
  fill-rule: evenodd;
}

.member-icon{
  left: 44px;
  position: absolute;
  z-index: 500;
  top: 10px;
}

.search-icon{
  left: 42px;
  position: absolute;
  z-index: 500;
  top:72px;
}

.svg-search-icon{
  fill: #bef7fe;
  fill-rule: evenodd;
}
.banner-logo{
  margin: 13px 5px 0 0px;
  transform: scaleX(109%);
}

.banner-content{
  position: relative;
  right: 5px;
}

.banner-navbar{
  height: 38px;
  border-radius: 20px;
  background-color: #0a2598;
  position: relative;
  top: 26px;
  right: 18px;
  width: 763px;
}


.banner-navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 9px -36px 0px -17px;
  font-size: 15px;
  font-family: iransansweb;
}


.banner-navbar li{
  list-style: none;
}



.articles-wrapper-one{
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
  border-radius: 25px 25px 0px 0px;
  background-color: #7AC9D3;
  max-width: 1240px;
  height: 1938px;
  margin-top: -20px;
}

.row-top{
  position: relative;
  top: -30px;
  padding: 20px;
  margin-bottom: -10px;
  margin-top: -20px;
} 

.row-down{
  padding: 20px;
}

.block1 {
  height: 450px;
  border-radius: 10px;
  background-color: #000;
  
}
.block2 {
  height: 400px;
  border-radius: 10px 0 10px 10px;
  width: 100%;
  background-color: #fff;
  margin-top: 50px;
}

.nashre-khoobi{
  background-color: #fff;
  width: 35%;
  height: 50px;
  border-radius: 0 10px 0 0 ;
  display: flex;
  position: relative;
  top: -50px;
}
.logo-nashr img{
  padding: 8px;
  width: 170px;
  padding-right: -12px;
  margin-left: -16px;
  margin-top: -5px;
  left: 10px;
  padding-left: -5px;
  position: relative;
  right: 18px;
}

.nashre-khoobi-svg svg {
  position: relative;
  right: 20px;
}
.news-content{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  font-size: 3rem;
  border-radius: 10px;
}

.nashr-ax{
  height: 250px;
  padding: 20px;
  margin-top: -50px;
}

.nashr-ax img{

  border-radius: 10px;
  display: block;
  height: 100%;
  width: 100%;
}

.nashr-text{
  text-align: start;
  font-family: iransansweb;
  font-size: 13px;
  padding-top: 7px;
}

.nashr-titr::before {
  margin: 13px -1px 0px 5px;
  position: relative;
  width: 7px;
  height: 7px;
  content: "";
  border-radius: 20px;
  background-color: #BA7515;
  float: right;
  top: -1px;
}

.nashr-titr{
  font-family: IranSansWeb;
  color: #0a2598;
  font-size: 16px;
  float: right;
  
}

.nashr-footer{
  width: 100%;
  margin-top: 63px;
  height: 90px;

}

.lastNashrinside{
  margin: 13px 31px 0px 40px;
  float: right;
}

.NumNashr {
  font: 16px/28px iranSansMediumNumber;
  color: #00b6cb;
  display: block;
  text-align: center;
}

.spanNashr {
  font: 13px/32px iranSansLight;
}

.NashrVorud {
  float: left;
  position: relative;
  top: 33px;
}

.NashrVorud {
  float: left;
  position: relative;
  top: 33px;
}


.block3 {

  height: 263px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;


}

.header-padding{
  padding: 8px 20px 0;
}

.row-down-header{
  justify-content: space-between;
  display: flex;
}

.more-content {
  
  position: relative;
  top: 13px;
  right: 10px;
}


.header-sec {
  padding: 8px 20px 0;
}
.header_sec .section-header-general {
  float: right;
}
.section-header-general {
  height: 47px;
  padding: 6px 0;
  margin-top: 5px;
  position: relative;
}
.bg_fr_sec {
  display: block;
  float: right;
  width: 18px;
  height: 32px;
  background: url(./sample/svg/r_sar.svg);
}
.section-name-header {
  width: auto;
  height: 28px;
  background-color: #00b6cb;
  color: #fff;
  float: right;
  display: block;
  margin-top: 2px;
  position: relative;
  z-index: 2;
  font: 17px/34px iranSansMedium;
  word-spacing: 4px;
}
.section-name-header::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: -2px;
  z-index: 1;
  background-color: #0a2598;
}
.section-name-header::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -2px;
  z-index: 1;
  background-color: #a2722d;
}
.section-header-general .bg_ls_sec {
  display: block;
  float: right;
  width: 45px;
  height: 32px;
  background: url(./sample/svg/l_sar.svg);
  margin-right: -1px;
}

.news3-wrap{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}



.news3-main p {
  font-size: 14px;
  margin-top: 12px;
  text-align: start;
  height: auto;
  width: 169px;
  color: #666565;
  padding-right: 22px;
}

.news3-image {
  width: 140px;
  height: 93px;
  border-radius: 12px;
  background: green;
  margin-top: 14px;
}
.news3-image img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.block4 {
  background-color: #fff;
  height: 494px;
  border-radius: 10px;
  margin-bottom: 20px;


}

.news4-main {
  position: relative;
  top: -20px;
}
.news4-main img {
  width: 307px;
  height: 204px;
  position: relative;
  top: 29px;
  right: 9px;
  border-radius: 12px;
}
.news4-main h6 {
  margin-top: 48px;
  font-size: 13px;
  text-align: start;
  word-spacing: 2px;
  margin-right: 18px;
}
.news4-main h4 {
  font-size: 15px;
  color: blue;
  text-align: start;
  line-height: 27px;
  word-spacing: 2px;
  margin-right: 35px;
}
.news4-main p {
  font-size: 12px;
  text-align: start;
  line-height: 24px;
  word-spacing: 2px;
  margin-right: 18px;
}

.news4-contacts {
  display: flex;
  flex-direction: column;
}
.news4-contact {
  margin-bottom: 10px;
}
.news4-contact img {
  float: right;
  width: 130px;
  height: 86px;
  border-radius: 12px;
  margin-left: 12px;
  margin-right: -3px;
  margin-top: 10px;
}
.news4-contact p {
  font-size: 15px;
  line-height: 24px;
  padding-left: 34px;
  color: #505050;
  position: relative;
  top: 9px;
  word-spacing: 0px;
  text-align: start;
}


.block5 {
  background-color: #fff;
  height: 295px;
  border-radius: 10px;
  margin-bottom: 20px;

}

.news5-main{
  height: 200px;
}

.news5-main img {
  width: 151px;
  height: 203px;
  float: right;
  border-radius: 12px;
  position: relative;
  top: -6px;
}

.news5-main {
  display: flex;
  margin: 19px 19px 0px -8px;
}

.news5-contact{
  margin-top: 10px;
}
.news5-contact h6 {
  text-align: start;
  font-size: 13px;
  color: #000;
  margin-top: 10px;
  margin-right: 4px;
  word-spacing: 5px;
}
.news5-contact h4 {
  font-size: 17px;
  color: blue;
  text-align: start;
  line-height: 24px;
  margin-right: 20px;
  word-spacing: 2px;
}
.news5-contact p {
  font-size: 11px;
  line-height: 22px;
  padding-left: 21px;
  color: #505050;
  margin-right: 4px;
  text-align: start;
}
.news5{
  display: flex;
}
.block6 {
  height: 355px;
  border-radius: 10px;
  background-image: linear-gradient( to bottom, #00b4c9, #0694b1, #0e6c91, #154574, #1a2b5f );
  overflow: hidden;
  margin-bottom: 20px;

}
.news6-header {
  text-align: start;
  position: relative;
  top: 15px;
  left: -20px;
}

.box-news6 {
  width: 140px;
  height: 120px;
  background: #fff;
  border-radius: 12px;
  position: relative;
  top: 19px;
}
.box-news6 svg {
  height: 100px;
}

.box-news6 p {
  font-size: 15px;
  top: -15px;
  position: relative;
  color: #000;
}

.row1-news6{
  display: flex;
  justify-content: space-between;
  padding: 16px 19px;
}
.row2-news6 {
  padding: 4px 19px;
  display: flex;
  justify-content: space-between;
}


.block7 {
  background-color: white;
  height: 313px;
  border-radius: 10px;
  margin-bottom: 20px;

}

.news7-main{
  padding: 0 42px;

}

.news7-main p {
  padding: 4px 0px 0px;
  font-size: 14px;
  color: #454444;
  text-align: start;
  word-spacing: 2px;
}
.news7-main p::before {
  margin: 10px -5px 0px 5px;
  position: relative;
  width: 9px;
  height: 9px;
  content: "";
  border-radius: 20px;
  background-color: #BA7515;
  float: right;
  top: -1px;
}


.block8 {
  background-color: #fff;
  height: 500px;
  border-radius: 10px;
  margin-bottom: 20px;

}

.news8-main {
  padding: 0px 21px;
  position: relative;
  top: 50px;
}
.news8-main img {
  height: 184px;
  width: 100%;
  border-radius: 12px;
  position: relative;
  top: -42px;
}
.news8-content {
  position: relative;
  top: 16px;
  padding: 0 26px;
}
.news8-content h6 {
  font-size: 13px;
  color: #000;
  text-align: start;
  margin-top: 26px;
  word-spacing: 2px;
}
.news8-content p {
  text-align: start;
  color: blue;
  word-spacing: 2px;
  font-size: 17px;
}
.news8-list {
  padding: 0 28px;
  position: relative;
  top: 12px;
}
.news8-list p {
  font-size: 12px;
  text-align: start;
  color: #000;
  word-spacing: 2px;
  border-top: 1px solid #000;
  padding-top: 8px;
}


.block9 {
  background-color: #fff;
  height: 523px;
  border-radius: 10px;
 }

 .news9-article {
  padding: 3px 37px;
}

 .news9-article p {
  padding: 4px 0px 0px;
  font-size: 14px;
  color: #4d4c4c;
  text-align: start;
  word-spacing: 2px;
}

.news9-article p::before {
  margin: 10px -5px 0px 5px;
  position: relative;
  width: 9px;
  height: 9px;
  content: "";
  border-radius: 20px;
  background-color: #BA7515;
  float: right;
  top: -1px;
}


.articles-wrapper-two{
  background-color: #0091A1;
  max-width: 1240px;
  padding: 20px;
  margin: 20px;
  margin-top: -20px;
  height: 601px;

}
.video-head{
  display: flex;
  justify-content: space-between;
  padding-top:18px ;
}
.videoSvg{
  margin: 0px 20px 10px 15px;
}

.edameImg{
  margin: -10px 7px 0px 0px;
  filter: opacity(0.5) drop-shadow(0 0 0 blue);
}

.two-right{
  padding-top: 5px;

}

.video{
  width: 100%;
  display: flex;
  position: relative;
  top: 10px;
  left: -20px;
  margin-bottom: 19px;

}

.video p{
  margin-top: 0px;
  margin-bottom: 1rem;

  padding-right: 20px;
}



.v-chap{

  display: block;
  margin-top: 15px;
  border-radius: 10px;
  width: 678px;
  margin-top: 16px;
  padding-left: -6px;
  margin-right: -8px;
  height: 451px;
}

.v-rast{
  height: 105px;
  width: 155px;
  border-radius: 10px;
}

.article-wrapper-three{
  max-width: 1240px;
  padding: 20px;
  margin: 20px;
  margin-top: -20px;
  background-color: darkgoldenrod;
  background: url(./sample/home/bg_note.png);
  z-index: 9;
  height: 740px;
}

.g-tasviri {
  height: 685px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: blueviolet;
}

.nav-end {
  height: 99px;
}

.news-navigation {
  width: 1058px;
  position: relative;
  margin: 40px 60px 0px 80px;
  height: 628px;
  border-radius: 42px 40px 20px 20px;
  background-image: linear-gradient( to right, #38529d, #2f4896, #253f90, #1b3589, #0f2c82 );
  left: -2px;
}



.header-ayeha{
  height: 79px;
  padding: 0 28px;
}

.ayeha-logo {
  float: right;
  width: 193px;
  height: 79px;
}
.ayeha-logo-mobile {
  display: none;
}
.ayeha-tabs {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 17px;
  padding-top: 21px;
  float: right;
  width: calc(100% - 193px);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.ayeha-tabs-tab {
  display: inline-block;
  list-style-type: none;
  border: 2px solid #33c5d5;
  color: #75cfd9;
  font: 16px/35px iranSansMedium;
  border-radius: 20px;
  min-width: 109px;
  text-align: center;
  cursor: pointer;
  margin-left: 30px;
}
.active-item {
  border: 0;
  background: linear-gradient(
    180deg,
    rgba(215, 224, 255, 1) 0%,
    rgba(231, 237, 255, 1) 45%,
    rgba(254, 254, 255, 1) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  margin-top: -5px;
  padding: 17px;
  border-radius: 20px 20px 0 0;
  font: 15px/31px iranSansMedium;
  word-spacing: -3px;
  color: #2340b9;
  box-shadow: 0px -6px 17px -8px rgba(0, 0, 0, 0.6);
}
.navigation-content {
  top: 80px;
  margin-right: 10px;
  height: 537px;
  width: 1065px;
  border-radius: 20px 20px 10px 10px;
  background-color: white;
  margin-top: -1px;
  padding: 30px;
}
.navigation-content-right img{
  height: 326px;
  width: 493px;
  border-radius: 20px;
}
.navigation-content-right h4{
  margin-top: 18px;
  color: #000;
  font-size: 18px;
  padding: 0px 10px;
  text-align: start;
}

.navigation-content-left{
  padding-bottom: 42px;
  width: 232px;
}

.navigation-content-left img{
  width: 231px;
  border-radius: 20px;
  /* margin-left: 56px; */
}

.navigation-content-left h6{
  margin-top: 10px;
  color: #000;
  font-size: 16px;
}


.main-navigation-content-left {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.article-wrapper-four{
  background-color: rgb(221,158,70);
  height: 473px;
  position: relative;
  max-width: 1240px;
  padding: 20px;
  margin: 20px;
  margin-top: -20px;
}

.article-wrapper-five {
  height: 685px;
  border-radius: 0 0 32px 32px;
  box-shadow: 1px 4px 4px 1px gray;
  max-width: 1240px;
  margin: 20px;
  margin-top: -20px;
  position: relative;
  top: 24%;
}

.header-article-wrapper-five{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 21%;
  padding: 0px 40px;
}

.news-states{
  background-color: rgb(255,255,255);
  height: 575px;
  width: 94%;
  position: absolute;
  border-radius: 25px;
  left: 3%;
  top: 8px;
  display: flex;
  z-index: 20;
}

.content-article-wrapper-five {
  padding: 0 40px;
  position: absolute;
  top: 195px;
}

.articles-five-right {
  display: flex;
  flex-direction: column;
}

.article-five-right img {
  margin-bottom: 9px;
  width: 210px;
  height: 145px;
  border-radius: 12px;
  margin-right: -12px;
  padding-top: 7px;
}


.article-five-left img {
  margin-bottom: 16px;
  width: 221px;
  height: 139px;
  border-radius: 12px;

  margin-left: 4px;
  margin-right: -31px;
}
.articles-five-left {
  display: flex;
  flex-direction: column;
}
.main-article-wrapper-five img {
  width: 90%;
  height: 446px;
  border-radius: 12px;
  position: relative;
  top: 7px;
}

.footer {
  height: 475px;
  border-top: 5px solid #b77518;
}

.copy-right {
  height: 40px;
}

.svg-map{
  scale: 1.66;
  padding-left: -1px;
  margin-left: 245px;
  left: -48%;
  position: relative;
  top: 136px;
}


.map-con {
  padding-top: 10px;
}

.services-news {
  padding-right: 25px;
  width: auto;
}
.combo-ostan {
  padding-top: 30px;
}
.header-ostan {
  margin-bottom: 40px;
}
.ostan-c {
  position: relative;
  float: right;
  width: 186px;
}
.header-ostan-select {
  background-color: #e4e9ff;
  font: 14px/28px iranSansMedium;
  outline: none;
  padding: 0 20px 0 36px;
  border-radius: 15px;
  color: #1130b3;
  height: 28px;
}
.service-ostanha-in {
  display: block;
  float: right;
  margin-right: 10px;
  background-color: #00b6cb;
  font: 14px/28px iranSansMedium;
  color: #fff;
  border-radius: 15px;
  padding: 0px 20px;
}
.ostan-item-contents {
  padding-left: 40px;
  padding-bottom: 10px;
}
.ostan-item-content {
  padding-bottom: 167px;
}
.ostan-item-content .imgs {
  width: 155px;
  height: 103px;
  float: right;
  border-radius: 10px;
  overflow: hidden;
}
.ostan-item-content .ostan-item-text {
  float: right;
  width: calc(100% - 155px);
  padding-right: 15px;
}
.ostan-item-content .ostan-item-text .htitr {
  float: right;
  text-align: start;
  margin-bottom: 2px;
}
.ostan-item-content .ostan-item-text .subtitle {
  font: 14px/26px iranSansLight;
  color: #000;
  text-align: justify;
  word-spacing: -1px;
}
.htitr {
  font: 16px/28px iranSansMedium;
  color: #000;
}
.rutitle {
  font: 13px/26px iranSansLight;
  color: #3c3b3b;
  word-spacing: 1px;
  text-align: start;
  margin-bottom: 3px;
}

.services-news-left{
  padding-top: 25px;
}

.services-news-left img{
  float: right;
  height: 100px;
  border-radius: 10px;
  margin-left: 20px;
}

.content-services{
  margin-bottom: 38px;
  border-bottom: 1px solid;
  
}

.content-services h6{
  font-size: 12px;
  color: #000;
  text-align: start;
}

.content-services p{
  font-size: 15px;
  color: #474747;
  text-align: start;
}

.province path {
  fill: #dedede;
}
.province path:hover {
  fill: rgb(0, 182, 203);
}

.sea path, #IranMap .map .lake path {
  fill: #5c8db6;
}

.sea path, #IranMap .map .lake path.caspian, #IranMap .map .sea path, #IranMap .map .lake path.persian-gulf {
  fill: #2746dc !important;
}

.lake path {
  fill: #5c8db6;
}
.border path {
  fill: #3f6a8d;
  stroke: #fff;
  stroke-width: 3px;
  stroke-linejoin: round;
}


.menu-nav{
  position: relative;
  left: 60px;
  top: 17px;

}
.menu-ul{
    display: flex;
    justify-content: space-between;
    padding: 13px;
    padding-left: 60px;
}

.menu-ul li{
  list-style: none;
  color: #004249;
  font-size: 15px;
}

.logo-nav img{
  position: relative;
  top: 17px;
  left: 16px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
} 

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: rgb(253, 207, 67);
}

.swiper-pagination-bullet-active {
  width: 13px;
  height: 13px;
  background-color: rgb(255, 157, 0);
}





:root{--swiper-theme-color: rgb(255, 157, 0)}