
@media  (MAX-width: 576px) {

    .main-container {
        transform: scalex(96.5%);
    }
    
    .articles-wrapper-one{
        height: 4770px;
    }
    
    .block1{
        height: 300PX;
        
    }

    .container2{
        margin: -20px 4px 0 6px;
    }

    .header-front {
        width: calc(100% - 116px);
        margin: 12px -9px 0 0;
    }

    .container-head {
        transform: scaleX(81%);
    }

    .block2 {
        height: 480px;
        padding-bottom: 20px;
    }

    .logo-nashr{
        
            z-index: 10;
            margin-top: 7px;
            margin-right: 5px;
        
    }

    .nashre-khoobi{
        top: -50px;


    }
        
    .nashre-khoobi-svg{

    }
    .block3 {
        height: 490px;
        margin-bottom: 18px;
    }

    .block4 {
        height: 1170px;
        margin-bottom: 20px;
    
    }.news4-contact img {
        float: right;
        width: 196px;
        height: 127px;
        border-radius: 12px;
        margin-right: 23px;
        margin-top: 48px;
    }

    .news4-contact {
        margin-bottom: -80px;
    }

    .news4-contact p {
        font-size: 15px;
        line-height: 24px;
        padding-left: 39px;
        color: #505050;
        position: relative;
        top: -120px;
        word-spacing: 0px;
        text-align: start;
        right: 231px;
    }


    .news4-main img {
        width: 419px;
        height: 274px;
        position: relative;
        top: 30px;
        right: -2px;
    }

    .news4-main h6 {
        margin-top: 42px;
        font-size: 13px;
        text-align: start;
        word-spacing: 2px;
        margin-right: 23px;
    }

    .block6 {
        height: 484px;
    }

    .block5 {
        height: 293px;
    }

    .news5-contact p {
        display: none;
    }

    .news5-main img {
        width: 157px;
        height: 203px;
        float: right;
        border-radius: 12px;
        position: relative;
        top: -10px;
    }

    .news5-contact h6 {
        text-align: start;
        font-size: 13px;
        color: #000;
        margin-top: 10px;
        margin-right: 23px;
        word-spacing: 5px;
    }

    .block7 {
        height: 315px;
    }
    .news7-main p::before {
        margin: 10px -5px 0px 5px;
        position: relative;
        width: 9px;
        height: 9px;
        content: "";
        border-radius: 20px;
        background-color: #BA7515;
        float: right;
        top: -1px;
    }

    .block8 {    
    height: 512px;
    margin-bottom: 20px;
    }

    .news8-content p::before {
        margin: 10px -5px 0px 5px;
        position: relative;
        width: 9px;
        height: 9px;
        content: "";
        border-radius: 20px;
        background-color: #BA7515;
        float: right;
        top: -1px;
    }
    .news8-content h6 {
        font-size: 13px;
        color: #000;
        text-align: start;
        margin-top: 20px;
        word-spacing: 2px;
    }

    .news9-article p::before {
        margin: 10px -5px 0px 5px;
        position: relative;
        width: 9px;
        height: 9px;
        content: "";
        border-radius: 20px;
        background-color: #BA7515;
        float: right;
        top: -1px;
    }

    .video {
        width: 100%;
        display: flex;
        position: relative;
        top: 95px;
        left: -20px;
        margin-bottom: 19px;
    }

    .articles-wrapper-two {
        height: 1330px;
    }


    .video-head p{

    }

    .v-chap{
        
            display: block;
            border-radius: 10px;
            width: 620px;
            margin-top: 1px;
            margin-right: 1px;
            height: 301px;

    }

    .v-rast {
        height: 145px;
        width: 220px;
        border-radius: 10px;
        padding-right: -17px;
        padding-left: -15px;
        margin-right: -18px;
        margin-bottom: 8px;
    }


    .news3-image{
        width: 195px;
        margin-right: 0px;
        margin-top: 16px;
        height: 130px;

    }

    .news3-image img {


    }



    .header-ayeha {
        height: 142px;
    
    }
      
    .ayeha-logo{
        display: none;
    }
    .ayeha-logo-mobile{

        display: block;
    }


    .svg-map{
    display: none;    
    }

    .sevices-news{
        position: relative;
        top: 55px;
    }

    .header-four{
        position: fixed;
        margin: 15px 2px;
    }
    .ostan-c {
        position: relative;
        float: right;
        width: 191px;
        margin: 0px 6px;
    }
    .service-ostanha-in {
        display: block;
        float: right;
        margin-right: 13px;
        background-color: #00b6cb;
        font: 14px/28px iranSansMedium;
        color: #fff;
        border-radius: 15px;
        padding: 0px 33px;
    }

    .services-news-left{
        position: relative;
        left: 20px;
        height: 670px;
    }

    


}




@media (min-width : 576px) {
    .main-container {
        transform: scalex(103%);
    }
    
}



@media (max-width: 768px) {

    

    
    

    .block1{
        height: 300PX;
        margin-bottom: 20px;
        
    }

    .block3 {
        height: 490px;
        margin-bottom: 18px;
    }

    .container-head {
        transform: scaleX(81%);
    }
    .nashre-khoobi{
        background-color: #fff;
        width: 175px;
        height: 50px;
        border-radius: 0 10px 0 0 ;
        display: flex;
        position: relative;
    }
        
    .nashre-khoobi-svg{

    }

    .ayeha-logo{
        display: none;
    }
    .ayeha-logo-mobile{

        display: block;
        display: block;
        height: 143px;
        margin-top: 70px;
        margin-right: 3px;
    }

    .header-ayeha {
        height: 264px;
    }

    .ayeha-tabs {
        margin-block-start: 20px;
        padding-inline-start: 25px;
        float: right;
        width: calc(100% - 197px);
        display: flex;
        /* justify-content: flex-start; */
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 36px;
        height: 195px;
        padding-top: 5px;
    }

    .ayeha-tabs-tab {
        display: inline-block;
        list-style-type: none;
        border: 2px solid #33c5d5;
        color: #75cfd9;
        font: 16px/35px iranSansweb;
        border-radius: 20px;
        min-width: 132px;
        cursor: pointer;
        margin-left: 20px;
        height: 50px;
        padding-bottom: -12px;
        padding-top: 7px;
    }

    .navigation-content-right img {
        height: 288px;
        width: 441px;
        border-radius: 20px;
        margin: -8px -11px 0px 0px;
    }

    .main-navigation-content-left{
        padding-right: 4px;
        margin-top: 12px;
        padding-left: 17px;
    }

    .navigation-content-left {
        width: 213px;
    }

    .navigation-content-left img {
        width: 200px;
        border-radius: 20px;
    }

    .news-navigation {
        width: 683px;
        position: relative;
        margin: 0px -22px 0px 2px;
        height: 1058px;
        border-radius: 40px 0px 0px 20px;
        background-image: linear-gradient( to right, #38529d, #2f4896, #253f90, #1b3589, #0f2c82 );
        top: -174px;
        z-index: 1;
    }

    .navigation-content {
        top: 80px;
        margin-right: 21px;
        height: 850px;
        width: 482px;
        border-radius: 0px 20px 10px 0px;
        background-color: white;
        padding: 30px;
        top: 265px;
        position: absolute;
    }

    .article-wrapper-four {
        background-color: rgb(221,158,70);
        height: 955px;
        position: relative;
        max-width: 1240px;
        padding: 20px;
        margin: 20px;
        top: 144px;
    }

    .news-states {
        background-color: rgb(255,255,255);
    height: 795px;
    width: 461px;
    position: relative;
    border-radius: 20px;
    top: 77px;
    display: flex;
    z-index: 20;
    margin: -20px 14px;
    }

    .article-wrapper-five {
        height: 490px;
    }

    

    .main-article-wrapper-five img {
        width: 106%;
        height: 238px;
        border-radius: 12px;
        position: relative;
        top: -45px;
        /* right: 20px; */
        left: 32px;
    }

    .articles-five-left{
        display: none;
    }
    .articles-five-right{
        display: none;
    }

    .footer {
        height: 196px;
        border-top: 5px solid #b77518;
    }

    .copy-right {
        height: 30px;
    }
    
    .mobile-footer{

    }
    .mobile-footer p{
        text-align: start;
        margin-top: 17px;
        font: 13px tahoma,arial;
        margin: 23px 44px;
        color: #38a2ad;
        
    }
    
    

    .main-footer{
        display: none;
    }

    .menu-nav{
        display: none;
    }
    




}

@media (min-width : 768px) {

    .main-container {
        min-width: 567px;
        transform: scaleX(100%);
        margin-right: 12px;
    }


    .banner-quick-access {


    margin: 38px -50px 0px 10px;
    color: #bef7fe;
    font-size: 11px;
    font-weight: bold;

    }
    
}




@media (min-width: 992px) {
    
    .banner-page-first {
        color: #fff;
        text-decoration: none;
    }

        

}


@media (max-width: 1200px) {




}







@media (min-width: 1400px){
    .banner-menu {
        position: absolute;
        left: -40px;
    }

    

    .banner-menu svg {
        margin: 34px 4px 0 0;
        width: 17px;
        height: 28px;
        cursor: pointer;
    }
}


